{# templates/contestacao/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Importar Planilha</h1>

    <form method="post" action="{{ path('importarPlanilha') }}" enctype="multipart/form-data">
        <label for="planilhaImportar">Selecione a Planilha para Importação:</label>
        <input type="file" name="planilhaImportar" id="planilhaImportar" accept=".xlsx, .xls">
        <button type="submit">Importar</button>
    </form>
{% endblock %}
