{# templates/sucesso.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Planilha Importada com Sucesso</h1>
    <p>A planilha foi importada com sucesso. Outras informações ou ações podem ser adicionadas aqui.</p>
{% endblock %}
